@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
.container_company #h1 {
  margin-top: 50vw;
  color: aqua;
}
.container_company .company__section {
  display: flex;
}
.container_company .company__section .main__item {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  align-items: center;
  flex: 20%;
  padding: 0 30px;
}
@media screen and (max-width: 768px) {
  .container_company .company__section .main__item {
    border: solid #eff4f2;
    box-shadow: 0px 15px 10px 0px #dfdede;
    flex: 25%;
  }
}
.container_company .company__section .main__item .title {
  font-size: large;
  font-weight: 700;
  text-align: center;
  padding: 20px 0;
}
.container_company .company__section .main__item .text {
  text-align: center;
  line-height: 24px;
  flex: 1 1 auto;
}
.container_company .company__section .work__button {
  display: block;
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  font-size: large;
  font-weight: 700;
  text-decoration: none;
  color: black;
}
.container_company .company__section .main__column {
  display: flex;
  gap: 10px;
}
.container_company .img_logo {
  width: 200px;
  padding: 10px;
}

.montserrat-alternates-thin {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.montserrat-alternates-thin-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.montserrat-alternates-extralight {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.montserrat-alternates-extralight-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.montserrat-alternates-light {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.montserrat-alternates-light-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-alternates-regular-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.montserrat-alternates-medium {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.montserrat-alternates-medium-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.montserrat-alternates-semibold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.montserrat-alternates-semibold-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.montserrat-alternates-bold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.montserrat-alternates-bold-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.montserrat-alternates-extrabold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.montserrat-alternates-extrabold-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.montserrat-alternates-black {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.montserrat-alternates-black-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  font-style: italic;
}

* {
  font-family: "Montserrat Alternates", sans-serif;
  box-sizing: border-box;
}
* .header {
  font-size: 38px;
  font-weight: 600;
  color: #458cc6;
  text-align: center;
  margin-bottom: 40px;
}
* .text {
  line-height: 24px;
}
* .section1__header {
  font-size: 50px;
  font-weight: 700;
  color: #458cc6;
}
* .section1__text1,
* .section1__text2 {
  font-size: 24px;
  font-weight: 400;
  color: #4886bf;
}

/* ВЕБИНАРЫ */
.section6 {
  padding: 60px 40px;
}
.section6 .section6__menu {
  margin-bottom: 30px;
  max-width: 60%;
  font-weight: 300;
  font-size: 16px;
  display: grid;
  grid-template: 1fr/repeat(5, auto);
  grid-gap: 20px;
  color: #b9848c;
}
.section6 .section6__content {
  display: grid;
  grid-template: 2fr/repeat(auto-fill, minmax(560px, 1fr));
  grid-gap: 30px;
}
.section6 .section6__content .section6-content__item {
  max-width: 600px;
  padding: 20px;
  display: grid;
  grid-template: repeat(3, auto)/1fr;
  grid-gap: 20px;
  justify-content: center;
  background-color: #4886bf;
  color: #fff;
  border-radius: 12px;
}
.section6 .section6__content .section6-content__item .item__block1 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section6 .section6__content .section6-content__item .item__block1 .item-block1__video {
  border: none;
}
.section6 .section6__content .section6-content__item .item-block3 {
  display: grid;
  grid-template: 2fr/1fr;
}
.section6 .section6__content .section6-content__item .item-block3 .item-block3__text {
  font-size: 14px;
}

.section7 {
  margin: 100px 40px 60px 40px;
  color: #02315d;
}
.section7 .section7__header {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}
.section7 .section7__content {
  display: grid;
  grid-template: 1fr/repeat(3, auto);
  grid-gap: 40px;
}
.section7 .section7__content .section7-content__item {
  display: grid;
  grid-template: repeat(2, auto)/1fr;
  grid-gap: 20px;
  text-align: center;
}
.section7 .section7__content .section7-content__item .section7-content__block1 {
  justify-self: center;
}
.section7 .section7__content .section7-content__item .section7-content__block1 .section7-content__block1-img {
  height: 300px;
}

.montserrat-alternates-thin {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.montserrat-alternates-thin-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.montserrat-alternates-extralight {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.montserrat-alternates-extralight-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.montserrat-alternates-light {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.montserrat-alternates-light-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-alternates-regular-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.montserrat-alternates-medium {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.montserrat-alternates-medium-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.montserrat-alternates-semibold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.montserrat-alternates-semibold-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.montserrat-alternates-bold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.montserrat-alternates-bold-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.montserrat-alternates-extrabold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.montserrat-alternates-extrabold-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.montserrat-alternates-black {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.montserrat-alternates-black-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.header {
  background-color: #b9848c;
  padding: 20px;
  color: #02315d;
  font-size: 14px;
}
.header h1 {
  margin: 0;
}

.questions_and_fears {
  display: grid;
  justify-items: center;
  justify-content: center;
}
.questions_and_fears .container_questions_and_fears {
  display: grid;
  justify-items: center;
  justify-content: space-around;
}
.questions_and_fears .container_questions_and_fears .h1_questions {
  font-size: 24px;
  margin-bottom: 20px;
  margin: 80%;
  width: 100%;
}
.questions_and_fears .container_questions_and_fears .list_questions {
  max-height: 25vh;
  overflow-y: auto;
  height: auto;
  width: 26vw;
  text-align: center;
  /* Стилизация скроллбара */
}
.questions_and_fears .container_questions_and_fears .list_questions::-webkit-scrollbar {
  width: 8px;
}
.questions_and_fears .container_questions_and_fears .list_questions::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}
.questions_and_fears .container_questions_and_fears .list_questions::-webkit-scrollbar-track {
  background-color: #f4f4f4;
  border-radius: 4px;
}
.questions_and_fears .container_questions_and_fears .form-questions {
  width: 100%;
  margin-top: 20px;
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: space-evenly;
}
.questions_and_fears .container_questions_and_fears .form-questions input.nickname {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.questions_and_fears .container_questions_and_fears .form-questions .error-message {
  color: red;
}
.questions_and_fears .container_questions_and_fears .form-questions .container_questions_and_fears .list_questions {
  max-height: 300px; /* Пример фиксированной высоты контейнера */
  overflow-y: auto; /* Добавляем вертикальную прокрутку */
}
.questions_and_fears .container_questions_and_fears .form-questions .form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.questions_and_fears .container_questions_and_fears .form-questions .question_card__content {
  background-color: rgba(192, 99, 117, 0.5215686275);
}
.questions_and_fears .container_questions_and_fears .form-questions textarea.textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.questions_and_fears .container_questions_and_fears .form-questions button[type=button] {
  background-color: #4e2e79;
  color: rgb(255, 241, 247);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Анимация изменения цвета фона */
}
.questions_and_fears .container_questions_and_fears .form-questions button[type=button] .btn__txt {
  font-weight: bold;
}
.questions_and_fears .container_questions_and_fears .form-questions button[type=button]:hover {
  background-color: #7e4ccf; /* Изменение цвета фона при наведении */
}

.question_card {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
}

.question_card:nth-child(odd) {
  border-radius: 30px;
  background-color: rgba(77, 47, 102, 0.4705882353);
}

.question_card:nth-child(even) {
  border-radius: 30px;
  background-color: rgba(210, 132, 132, 0.5215686275);
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 50px;
}

blockquote {
  background: white;
  padding: 20px 30px 20px 30px;
  margin: 50px auto;
  width: 50%;
  max-width: 500px;
}

.stacked {
  border: solid 2px;
  padding: 20px 30px 20px 30px;
  box-shadow: 13px 13px 0 0 white, 15px 15px 0 0 #0000ff, 15px 11px 0 0 #0000ff, 11px 15px 0 0 #0000ff;
}

.shadow {
  border: solid 2px;
  box-shadow: 15px 15px 0 0 #0000ff;
}

.rule {
  position: relative;
  left: 7px;
  background: #ccccff;
  box-shadow: -2px 0 0 #0000ff, -4px 0 0 #ccccff, -7px 0 0 #0000ff;
}

.block_heading {
  margin: 0;
  color: #02315d;
}

.container_resume {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #02315d;
  border-radius: 25px;
  background-color: #4886bf;
}
.container_resume .resume_form {
  display: flex;
  flex-direction: column;
}
.container_resume .resume_form fieldset {
  border: none;
}
.container_resume .resume_form .resume__features {
  display: flex;
  flex-wrap: wrap;
}
.container_resume .resume_form .resume__description {
  display: flex;
  flex-direction: column;
}
.container_resume .resume_form .resume__submit {
  margin: 10px 0;
  padding: 10px 20px;
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
  background-color: #4e2e79;
  color: rgb(255, 241, 247);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Анимация изменения цвета фона */
  font-weight: bold;
}

.main_section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #02315d;
  border-radius: 25px;
  background-color: #4886bf;
  margin-bottom: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}/*# sourceMappingURL=styles.css.map */