@charset "UTF-8";
/* Вопросы и страхи начало */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
.questions_and_fears {
  display: grid;
  justify-items: center;
  justify-content: center;
}

.container_questions_and_fears {
  display: grid;
  justify-items: center;
  justify-content: space-around;
}
.container_questions_and_fears h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.container_questions_and_fears .list_questions {
  max-height: 25vh;
  overflow-y: auto;
  height: auto;
  width: 40vw;
  text-align: center;
}
.container_questions_and_fears .form-questions {
  margin-top: 20px;
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: space-evenly;
  justify-content: center;
}
.container_questions_and_fears .form-questions input.nickname {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.container_questions_and_fears .form-questions .error-message {
  color: red;
}
.container_questions_and_fears .form-questions .container_questions_and_fears .list_questions {
  max-height: 300px; /* Пример фиксированной высоты контейнера */
  overflow-y: auto; /* Добавляем вертикальную прокрутку */
}
.container_questions_and_fears .form-questions .form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.container_questions_and_fears .form-questions .question_card__content {
  background-color: rgba(192, 99, 117, 0.5215686275);
}
.container_questions_and_fears .form-questions textarea.textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.container_questions_and_fears .form-questions button[type=button] {
  background-color: #f0ad4e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.container_questions_and_fears .form-questions button[type=button] .btn__txt {
  font-weight: bold;
}
.container_questions_and_fears .form-questions button[type=button]:hover {
  background-color: #ec971f;
}

.block_heading {
  margin: 0;
  color: #02315d;
}

.container_resume {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #02315d;
  border-radius: 25px;
  background-color: rgba(92, 142, 188, 0.8039215686);
}
.container_resume .resume_form {
  display: flex;
  flex-direction: column;
}
.container_resume .resume_form fieldset {
  border: none;
}
.container_resume .resume_form .resume__features {
  display: flex;
  flex-wrap: wrap;
}
.container_resume .resume_form .resume__description {
  display: flex;
  flex-direction: column;
}
.container_resume .resume_form .resume__submit {
  margin: 10px 0;
  padding: 10px;
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
}

.question_card {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
}

.question_card:nth-child(odd) {
  border-radius: 30px;
  background-color: rgba(77, 47, 102, 0.4705882353);
}

.question_card:nth-child(even) {
  border-radius: 30px;
  background-color: rgba(210, 132, 132, 0.5215686275);
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 50px;
}

blockquote {
  background: white;
  padding: 20px 30px 20px 30px;
  margin: 50px auto;
  width: 50%;
  max-width: 500px;
}

.stacked {
  border: solid 2px;
  padding: 20px 30px 20px 30px;
  box-shadow: 13px 13px 0 0 white, 15px 15px 0 0 #0000ff, 15px 11px 0 0 #0000ff, 11px 15px 0 0 #0000ff;
}

.shadow {
  border: solid 2px;
  box-shadow: 15px 15px 0 0 #0000ff;
}

.rule {
  position: relative;
  left: 7px;
  background: #ccccff;
  box-shadow: -2px 0 0 #0000ff, -4px 0 0 #ccccff, -7px 0 0 #0000ff;
}

/* Вопросы и страхи конец *//*# sourceMappingURL=vars.css.map */